@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.heading-style {
  font-size: 2.4rem;
  font-weight: 500;
  font-family: "Lilita One", sans-serif;
  color: rgb(39, 39, 39)
}

.paragraph-style {
  font-size: 1rem;
  color: rgb(90, 90, 90);
  font-family: "Lilita One", sans-serif;
}

.button-style {
  padding: 8px 22px 8px 22px;
  color: rgb(39, 39, 39);
  background-color: transparent;
  border: 2px rgb(39, 39, 39) solid;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Lilita One", sans-serif;
  text-transform: capitalize;
}

.button-style:hover {
  background-color: rgb(39, 39, 39);
  color: rgb(255, 255, 255);
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 50px;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Lilita One", sans-serif;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.5s ease;
}

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(135deg, #ffffff, #ffffff, #c7c7c7);
  border-bottom: 1px solid rgb(0, 0, 0);
}

#hero {
  background-image: url(assets/Hero-bg.png);
  background-position: center;
  background-size: contain;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
}

#hero>p {
  width: 60%;
}