@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

.heading-style {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(39, 39, 39);
}

.paragraph-style {
  font-size: 0.8rem;
  color: rgb(75, 75, 75);
}

.button-style {
  padding: 8px 22px 8px 22px;
  color: rgb(39, 39, 39);
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

.button-style:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(39, 39, 39);
  cursor: pointer;
  transition: all 0.7s ease;
}

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(135deg, #ffffff, #ffffff, #c7c7c7);
  border-bottom: 1px solid rgb(0, 0, 0);
}

#hero {
  background-image: url(assets/Hero-bg.png);
  background-position: center;
  background-size: contain;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
}

#hero>p {
  width: 60%;
}

#cnt-with-me-btn {
  background-color: black;
  color: white;
}

#cnt-with-me-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#why-wweb-dev-section {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
  text-align: center;
}

#why-wd-main {
  height: fit-content;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 80px 40px 80px 40px;
  border-radius: 16px;
  background: rgb(250, 250, 250);
}

#why-wd-main>p {
  width: 70%;
}

#main-section-of-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.main-3-sec {
  background: linear-gradient(60deg, white, rgb(245, 245, 245));
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#middle-div {
  background: linear-gradient(60deg, rgb(245, 245, 245), white);
}


.text-sec {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  align-items: start;
  gap: 10px;
  padding-left: 20px;
}

.text-sec>h3 {
  font-size: 1.2rem;
}

.text-sec>p {
  font-size: 0.8rem;
}

.text-sec>button {
  border-radius: 0px;
}

.image-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.image-sec>img {
  height: fit-content;
  overflow: hidden;
}

#my-insp-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  height: 100vh;
  width: 100%;
}


#text-sec-of-insp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  gap: 10px;
  width: 70%;
  height: 20%;
}

#div-of-i {
  margin-top: 20px;
  width: 70%;
  height: 80vh;
  border: 2px rgb(97, 97, 97) solid;
  border-radius: 20px;
}

div>iframe {
  padding: 10px;
  border-radius: 24px;
  height: 100%;
  width: 100%;
}


@media (max-width: 1024px) {
  .heading-style {
    font-size: 1.5rem;
  }

  .paragraph-style {
    font-size: 0.8rem;
  }

  .button-style {
    padding: 6px 18px;
    font-size: 0.9rem;
  }

  nav {
    justify-content: space-around;
    padding: 0 20px;
  }

  #hero {
    gap: 12px;
  }

  #hero>p {
    width: 85%;
  }

  #hero>h1 {
    width: 85%;
  }

  #why-wd-main {
    width: 90%;
  }

  #my-insp-sec {
    padding: 0px;
  }

  #text-sec-of-insp {
    padding: 0px;
    gap: 10px;
    width: 90%;
    height: 20%;
  }

  #div-of-i {
    margin-top: 20px;
    width: 90%;
    height: 50vh;
  }

}

@media (max-width: 768px) {
  nav {
    height: 10vh;
  }

  .heading-style {
    font-size: 1rem;
  }

  .paragraph-style {
    font-size: 0.6rem;
  }

  .button-style {
    padding: 6px 16px;
    font-size: 0.5rem;
  }

  #hero {
    height: 90vh;
    width: 100%;
  }

  #hero>p {
    width: 90%;
  }


  #why-wd-main {
    width: 85%;
  }

  #why-wd-main>p {
    width: 100%;
  }

  .main-3-sec {
    padding: 14px;
    flex-direction: column;
    gap: 20px;
  }

  .text-sec {
    width: 100%;
    padding-top: 20px;
  }

  .image-sec {
    width: 100%;
  }

  #my-insp-sec {
    padding: 0px;
    height: 70vh;
  }

  #text-sec-of-insp {
    padding: 0px;
    gap: 10px;
    width: 78%;
    height: fit-content;
  }

  #text-sec-of-insp>h3 {
    font-size: 0.8rem;
  }

  #text-sec-of-insp>p {
    font-size: 0.5rem;
  }

  #div-of-i {
    margin-top: 20px;
    width: 90%;
    height: 50%;
  }

  div>iframe {
    padding: 5px;
    border-radius: 22px;
  }

}