@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

.heading-style {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(39, 39, 39);
}

.paragraph-style {
  font-size: 0.8rem;
  color: rgb(75, 75, 75);
}

.button-style {
  padding: 8px 22px 8px 22px;
  color: rgb(39, 39, 39);
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

.button-style:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(39, 39, 39);
  cursor: pointer;
  transition: all 0.7s ease;
}

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(135deg, #ffffff, #ffffff, #c7c7c7);
  border-bottom: 1px solid rgb(0, 0, 0);
}

#hero {
  background-image: url(assets/Hero-bg.png);
  background-position: center;
  background-size: contain;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
}

#hero>p {
  width: 60%;
}

#cnt-with-me-btn {
  background-color: black;
  color: white;
}

#cnt-with-me-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}


@media (max-width: 1024px) {
  .heading-style {
    font-size: 1.5rem;
  }

  .paragraph-style {
    font-size: 0.8rem;
  }

  .button-style {
    padding: 6px 18px;
    font-size: 0.9rem;
  }

  nav {
    justify-content: space-around;
    padding: 0 20px;
  }

  #hero {
    gap: 12px;
  }

  #hero>p {
    width: 85%;
  }

  #hero>h1 {
    width: 85%;
  }
}

@media (max-width: 768px) {
  nav {
    height: 10vh;
  }

  .heading-style {
    font-size: 1rem;
  }

  .paragraph-style {
    font-size: 0.6rem;
  }

  .button-style {
    padding: 6px 16px;
    font-size: 0.5rem;
  }

  #hero {
    height: 90vh;
    width: 100%;
  }

  #hero>p {
    width: 90%;
  }

}